doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
	head
		title
	body
		p firstname of sender: #{name},
		br
		p Sender Email: #{email},
		br
		p
			| Query as follows
			br
		p #{query}
		br
		p automated contact mail from Chromatic.ltd

