extends layout

block content
	header
		#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					form(id="contactForm")
						.modal-header
							h5#exampleModalLabel.modal-title Enquire Now
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
						.modal-body(class="p-4")
							
								.row
									div(class="col-12 p-6")
										label(class=" col-3 text-left m-label" for="name") Name
										input(class=" col-7 text-left" type="text" id="name" name="name" required)
								.row
									div(class="col-12 p-6")
										label(class="col-3 text-left m-label" for="email") email
										input(class="col-7 text-left" type="email" id="email" name="email" required)
								.row
									div(class="col-12 p-6")
										label(class="col-3 text-left m-label" for="message") Message
										textarea(class="col-7 text-left" rows="5" type="text" id="message" name="query" required)
								.row
									div(class="col-12 p-6")
										div(id="statusMessage")
								.row
									div(class="col-12 p-6 text-right")
						.modal-footer
							button.btn.btn-primary(type='submit') Send Message
							button.btn.btn-secondary(type='button', data-dismiss='modal') Close
		nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
			a.navbar-brand(href='#')
				img(src='#', width='30', height='30')
				|  Company Brand
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
	main(role='main')
			#myCarousel.carousel.slide(data-ride='carousel' interval="8000")
				ol.carousel-indicators
					li.active(data-target='#myCarousel', data-slide-to='0')
					li(data-target='#myCarousel', data-slide-to='1')
					li(data-target='#myCarousel', data-slide-to='2')
				.carousel-inner
					.carousel-item.active
						img.first-slide(data-src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='First slide')
						.container
							.carousel-caption.text-left
								h1 Example headline.
								p
									| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
								p
									a.btn.btn-lg.btn-primary(href='#', role='button' data-toggle="modal" data-target="#myModal") Contact Us
					.carousel-item
						img.second-slide(data-src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Second slide')
						.container
							.carousel-caption
								h1 Another Example headline.
								p
									| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
								p
									a.btn.btn-lg.btn-primary(href='#', role='button' data-toggle="modal" data-target="#myModal") Contact Us
					.carousel-item
						img.third-slide(src='./img/slides/slide3.jpg', alt='Third slide')
						.container
							.carousel-caption.text-right
								h1 One more for good measure.
								p
									| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
								p
									a.btn.btn-lg.btn-primary(href='#', role='button' data-toggle="modal" data-target="#myModal") Contact Us
				a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
					span.carousel-control-prev-icon(aria-hidden='true')
					span.sr-only Previous
				a.carousel-control-next(href='#myCarousel', role='button', data-slide='next')
					span.carousel-control-next-icon(aria-hidden='true')
					span.sr-only Next

			.marketing
				.row(class="marketing-panel")
					.col-lg-4
						img.rounded-circle(src='./img/placer.png', alt='Generic placeholder image', width='140', height='140')
						h2 Heading
						p
							|Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
						p
							| Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac.
						p
							a.btn.btn-secondary(href='#', role='button' data-toggle="modal" data-target="#myModal") Contact Us »
					.col-lg-4
						img.rounded-circle(src='./img/placer.png', alt='Generic placeholder image', width='140', height='140')
						h2 Heading
						p
							| Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
						p
							a.btn.btn-secondary(href='#', role='button' data-toggle="modal" data-target="#myModal") Contact Us »
					.col-lg-4
						img.rounded-circle(src='./img/placer.png', alt='Generic placeholder image', width='140', height='140')
						h2 Heading
						p
							| Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac.
							br
							| Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
						p
							a.btn.btn-secondary(href='#', role='button' data-toggle="modal" data-target="#myModal") Contact Us »

			.container
				hr.featurette-divider
				.row.featurette
					.col-md-7
						h2.featurette-heading
							| First featurette heading.
							span.text-muted It'll blow your mind.
						p.lead
							| Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
					.col-md-5
						img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
				hr.featurette-divider
				.row.featurette
					.col-md-7.order-md-2
						h2.featurette-heading
							| Oh yeah, it's that good.
							span.text-muted See for yourself.
						p.lead
							| Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. 
					.col-md-5.order-md-1
						img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
				hr.featurette-divider
				.row.featurette
					.col-md-7
						h2.featurette-heading
							| And lastly, this one.
							span.text-muted Checkmate.
						p.lead
							| Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
					.col-md-5
						img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
				hr.featurette-divider
			footer.container
				p.float-right
					a(href='#') Back to top
				p
					| © 2017-2018 Company, Inc. · 
					a(href='#') Privacy
					|  ·
					a(href='#') Terms
